/* Default Classes */
.card{
    margin: 2rem 0;
    background-color: hsla( var(--white-hue), 100%, 96%, 0.85);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.card__heading {
    padding: 3rem 0 1rem 1rem;
}
.card__text {
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.btn--circle {
    position: absolute;
    transform: translate(-30%, -50%);
    right: 0;
}

.card__button {
    text-transform: capitalize;
}

div.card p {
    padding-left: 0.5rem;
}
div.card h2{
    padding-left: 0.5rem;
    color: var(--white);
    font-size: 3rem;
}
div.card .card__paragraph {
    color: var(--white);
}




/* Circle Icons */
div.card .btn {
    width: 35%;
    margin-bottom: 1rem;
    float: right;
    margin-right: 1rem;
    text-transform: none;
}

div.card .btn--blue {
    background-color: hsl(var(--hue-1), 50%, 50%)
    
}
div.card .btn--red {
    background-color: hsl(var(--hue-3), 50%, 50%)

}
div.card .btn--green {
    background-color: hsl(var(--hue-4), 50%, 40%)
}



/* Overrides for Circle Icons*/
div.card--success .btn--blue {
    background-color: hsl(var(--hue-4), 50%, 40%)
}
div.card .btn {
    background-color: hsl(var(--hue-1), 50%, 50%)
}
div.card--danger .btn {
    background-color: hsl(var(--hue-3), 50%, 50%)
}

div.card--success .btn {
    background-color: hsl(var(--hue-4), 50%, 40%)
}
div.card--success .btn--red {
    background-color: hsl(var(--hue-4), 50%, 40%)
}

div.card--danger .btn--blue {
    background-color: hsl(var(--hue-3), 50%, 50%)
}

div.card--danger .btn--green {
    background-color: hsl(var(--hue-3), 50%, 50%)
}



/* Card Headings */
div.card div.card__heading {
    background: linear-gradient(150deg, hsl(var(--hue-1), 60%, 30%), hsl(var(--hue-1), 40%, 60%) );
}

/* Overrides for Card Headings */
div.card--success div.card__heading {
    background: linear-gradient(150deg, hsl(var(--hue-4), 60%, 30%), hsl(var(--hue-4), 40%, 60%) ) !important;
}

div.card--danger div.card__heading {
    background: linear-gradient(150deg, hsl(var(--hue-3), 60%, 30%), hsl(var(--hue-3), 40%, 60%) ) !important;
}
/*line colour */
div.card hr {
    background-color: hsl(var(--hue-1), 50%, 50%);
    padding: 0.5px;
}
div.card--success hr {
    background-color: hsl(var(--hue-4), 50%, 50%);
    padding: 0.5px;
}
div.card--danger hr {
    background-color: hsl(var(--hue-3), 50%, 50%);
    padding: 0.5px;
}

/* Media Query >= 1000px */
@media screen and (min-width:1000px){
   .card {
       margin: 0 0;
   }
}