.quote__bglayer {
    position: relative;
    padding: 2rem;
    background: linear-gradient(150deg, hsl(var(--hue-3), 40%, 40%), hsl(var(--hue-3), 50%, 40%) );
    border-radius: 1rem 1rem 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20rem;
    
}
.quote__img {
    position: absolute;
    bottom: 0;
    left: -2%;

}
.quote__text {
    font-weight: 300;
    font-style: italic;
    font-size: 2.8rem;
    padding: 1rem; 
}
.quote__author {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
   
}

.quote__fglayer{
    background: linear-gradient(150deg, hsl(var(--hue-3), 30%, 90%), hsl(var(--hue-3), 40%, 40%) );
    border-radius: 0 0 1rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .quote__bglayer, .quote__fglayer {
        width: 50%;
        margin-left: 25%;
    }
   
    .quote__text {
        font-size: 120%;
    }
    .quote__author{
        font-size: 1rem;
    }

    .quote__bglayer{
        background: linear-gradient(150deg, hsl(var(--hue-4), 20%, 30%), hsl(var(--hue-4), 50%, 40%) );
    }

    .quote__fglayer{
        background: linear-gradient(150deg, hsl(var(--hue-4), 30%, 90%), hsl(var(--hue-4), 40%, 40%) );
    }


  
}
@media screen and (min-width:1024px){
    .quote__bglayer, .quote__fglayer {
        width: 50%;
        margin-left: 25%;
    }
    .quote__bglayer {
        margin-top: 25rem;

    }
     
    .quote__text {
        font-size: 125%;
    }

    .quote__bglayer{
        background: linear-gradient(150deg, hsl(var(--hue-1), 20%, 30%), hsl(var(--hue-1), 50%, 40%) );
    }

    .quote__fglayer{
        background: linear-gradient(150deg, hsl(var(--hue-1), 30%, 90%), hsl(var(--hue-1), 40%, 40%) );
    }
}



