/* Grid-Layout >= 750px && <= 999px */
@media screen and (min-width: 480px) and (max-width:849px) {
    
}



/* Grid-Layout >= 1000px */
@media screen and (min-width: 850px) {
    .grid-2x2 {
        display: grid;
        grid-template-columns: repeat(2, calc(100% / 2 - 1rem));
        grid-template-rows: repeat(2, calc(100% / 2 - 1rem));
        grid-gap: 1rem;
        grid-template-areas: 
          "first second"
          "third fourth"
    }
    
    
}

