/* Grid-Layout >= 768px && <= 1023px */
@media screen and (min-width: 768px) and (max-width:1023px) {
    
}



/* Grid-Layout >= 1000px */
@media screen and (min-width: 1024px) {
    .grid-2x2 {
        display: grid;
        grid-template-columns: repeat(2, calc(100% / 2 - 1rem));
        grid-template-rows: repeat(2, calc(100% / 2 - 1rem));
        grid-gap: 1rem;
        grid-template-areas: 
          "first second"
          "third fourth"
    }
    
    
}

